name: autorelease

on:
  push:
    branches: ["main", "master"]
    tags: ["v*"]
  pull_request:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  autorelease:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install mise
        uses: jdx/mise-action@v2

      - name: Install dependencies
        run: mise run install

      - name: Codegen
        run: mise run codegen

      - name: Create PR if changes
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: "chore: update generated code"
          title: "chore: update generated code"
          body: "Automated changes triggered by codegen."
          branch: "codegen-update"
          delete-branch: true

      - name: Run CI
        run: mise run ci

      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release create ${{ github.ref_name }} dist/fetchurl --generate-notes

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: fetchurl
          path: dist/fetchurl
